<template>
    <div class="add-note-component">
        <div class="add-note" @click="showDialog('popCreateNote')">
            <font-awesome-icon :icon="['far', 'plus']"></font-awesome-icon>
        </div>
        <div class="pop" id="popCreateNote">
            <div class="pop__dialog pop__dialog--vertical">
                <div class="pop__close" @click="closeDialog('popCreateNote')">&times;</div>
                <label for="txtTitle" class="sr-only">Note Title</label>
                <div class="input__group">
                    <input type="text" class="input" :class="title_missing ? 'input__warning' : ''" maxlength="100" name="title" id="txtTitle" v-model="title" placeholder="Enter a title for the note...">
                    <div class="input__counter" :class="title_length === 100 ? 'input__counter--red' : ''">{{ title_length }}&nbsp;/&nbsp;100</div>
                </div>
                <label for="txtContent" class="sr-only">Note Content</label>
                <div class="input__group">
                    <textarea class="input input__area" :class="content_missing ? 'input__warning' : ''" maxlength="255" name="content" id="txtContent" v-model="content" placeholder="Enter the note's content..."></textarea>
                    <div class="input__counter" :class="content_length === 255 ? 'input__counter--red' : ''">{{ content_length }}&nbsp;/&nbsp;255</div>
                </div>
                <colour-picker :selected_colour="colour" @colour-changed="changeColour($event)"></colour-picker>
                <div class="button__group button__group--fill" style="margin-top: 2rem;">
                    <button class="button button--green" @click="saveNote">Save Note</button>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import ColourPicker from './ColourPicker';
    export default {
        name: "AddNote",
        components: { ColourPicker },
        data: function(){
            return {
                title: "",
                content: "",
                colour: "8471FA",
                title_missing: false,
                content_missing: false,
            }
        },
        methods: {
            changeColour: function (colour) {
                this.colour = colour;
            },
            saveNote: function(){
                if(this.title !== "" && this.content !== ""){
                    let self = this;
                    window.axios.post('/notes', {
                        title: self.title,
                        text: self.content,
                        colour: self.colour
                    })
                    .then(function (response) {
                        self.$emit('note-added', response.data);
                        self.clearForm();
                    }).catch(function (error) {
                        console.log(error);
                        if(error.errors.title !== null){ self.title_missing = true; }
                        if(error.errors.text !== null){ self.content_missing = true; }
                    });
                }
                else{
                    this.title === "" ? this.title_missing = true : null;
                    this.content === "" ? this.content_missing = true : null;
                }
            },
            clearForm: function(){
                this.title = "";
                this.content = "";
                this.colour = "8471FA";
                this.closeDialog('popCreateNote');
            }
        },
        computed:{
            title_length: function(){
                return this.title.length;
            },
            content_length: function(){
                return this.content.length;
            }
        },
        watch: {
            //If the user is typing the title or content field, assume there is no error until save is clicked.
            title: function(){
                this.title_missing = false;
            },
            content: function(){
                this.content_missing = false;
            }
        }
    }
</script>

<style scoped>

</style>