<template>
    <div class="attachments-component">
        <div class="image-drag-drop">
            <form class="image-capture" ref="fileForm" v-show="!files.length">
                <span class="drop-images">Drop an image (or images) here!</span>
            </form>

            <div class="images" v-if="files.length">
                <div class="images__wrapper" v-for="(file, key) in files">
                    <img class="images__preview" :ref="'preview' + parseInt(key)"/>
                    <div class="images__remove" @click="removeImage(key)">&times;</div>
                </div>
                <div class="button__group button__group--fill" style="margin: 0 1rem 1rem 1rem;">
                    <button class="button button--red" @click="files = []">Remove All</button>
                </div>
            </div>
        </div>
        <div class="divider">OR</div>
        <label for="txtUrl" class="sr-only">Enter a URL for a valid image.</label>
        <input type="text" class="input" name="url" v-model="url" id="txtUrl" placeholder="Enter the URL for a Valid Image">
        <div class="images">
            <img :src="checked_url" alt="Image Preview for Selected URL" class="images__preview" v-if="url !== ''">
        </div>
    </div>

</template>

<script>
    export default {
        name: "Attachments",
        data: function(){
            return {
                canDragAndDrop: false,
                files: [],
                url: "",
            }
        },
        mounted: function(){
            this.canDragAndDrop = this.checkForDragAndDrop();
            if(this.canDragAndDrop){
                ['drag', 'dragstart', 'dragend', 'dragover', 'dragenter', 'dragleave', 'drop'].forEach( function( event ) {
                    this.$refs.fileForm.addEventListener(event, function(e){
                        e.preventDefault();
                        e.stopPropagation();
                    }.bind(this), false);
                }.bind(this));
                this.$refs.fileForm.addEventListener('drop', function(e){
                    for( let i = 0; i < e.dataTransfer.files.length; i++ ){
                        this.files.push( e.dataTransfer.files[i] );
                    }
                    this.getImagePreviews();
                }.bind(this));
            }
        },
        methods: {
            checkForDragAndDrop: function(){
                //Verify that the user is on a browser which features all the requirements for dragging and dropping.
                let div = document.createElement('div');
                return ( ('draggable' in div) || ('ondragstart' in div && 'ondrop' in div) ) && 'FormData' in window && 'FileReader' in window;
            },
            getImagePreviews: function(){
                for( let i = 0; i < this.files.length; i++){
                    //If the file isn't jpeg, jpg, png, or gif we will ignore it
                    if ( /\.(jpe?g|png|gif)$/i.test( this.files[i].name ) ) {
                        let reader = new FileReader();
                        reader.addEventListener("load", function(){
                            this.$refs['preview' + i][0].src = reader.result;
                        }.bind(this), false);
                        reader.readAsDataURL( this.files[i]);
                    }
                }
            },
            removeImage: function(key){
                this.files.splice(key, 1);
            },
        },
        computed: {
            checked_url: function(){
                if(this.url !== ""){
                    //If the url ends with jpeg, jpg, png, or gif then return the url to the img tag.
                    if(this.url.match(/\.(jpe?g|png|gif)$/i) != null){
                        return this.url;
                    }
                    //Otherwise return an empty string (which will hide the preview)
                    else return "";
                }
                else return "";
            }
        }
    }
</script>

<style scoped>

</style>