<template>
    <div class="container">
        <div class="navigation">
            <img src="https://wp.brandboom.com/article/wp-content/uploads/20180605145733/bb-logo-mark-white%402x.png" alt="Brandboom Logo" class="navigation__brand">
        </div>
        <notes-panel></notes-panel>
    </div>
</template>

<script>
    import NotesPanel from './NotesPanel';
    export default {
        name: "Brandboom",
        components: {NotesPanel},
    }
</script>

<style scoped>
</style>