<template>
    <div class="colours">
        <span class="sr-only">Select a Colour</span>
        <div class="colour" @click="changeColour(colour)" v-for="colour in colours" :style="{ backgroundColor: '#' + colour }">
            <span v-if="selected_colour === colour" class="colour--selected"><font-awesome-icon :icon="['far', 'check']"></font-awesome-icon></span>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ColourPicker",
        data: function(){
            return{
                colours: ["8471FA", "F46036", "1CB58C", "2B303A", "E54641"],
            }
        },
        props: ["selected_colour"],
        methods: {
            changeColour: function(colour){
                this.$emit('colour-changed', colour);
            }
        }
    }
</script>

<style scoped>

</style>