<template>
    <div class="add-note-component">
        <div class="add-note" @click="showDialog('popEditNote')">
            <font-awesome-icon :icon="['far', 'plus']"></font-awesome-icon>
        </div>
        <div class="pop" id="popEditNote">
            <div class="pop__dialog pop__dialog--vertical">
                <div class="pop__close" @click="closeEdit">&times;</div>
                <label for="txtTitle" class="sr-only">Note Title</label>
                <div class="input__group">
                    <input type="text" class="input" :class="title_missing ? 'input__warning' : ''" maxlength="100" name="title" id="txtTitle" v-model="note.title" placeholder="Enter a title for the note...">
                    <div class="input__counter" :class="title_length === 100 ? 'input__counter--red' : ''">{{ title_length }}&nbsp;/&nbsp;100</div>
                </div>
                <label for="txtContent" class="sr-only">Note Content</label>
                <div class="input__group">
                    <textarea class="input input__area" :class="content_missing ? 'input__warning' : ''" maxlength="255" name="content" id="txtContent" v-model="note.content" placeholder="Enter the note's content..."></textarea>
                    <div class="input__counter" :class="content_length === 255 ? 'input__counter--red' : ''">{{ content_length }}&nbsp;/&nbsp;255</div>
                </div>
                <colour-picker :selected_colour="note.colour" @colour-changed="changeColour($event)"></colour-picker>
                <div class="button__group button__group--fill" style="margin-top: 2rem;">
                    <button class="button button--green" @click="updateNote">Update Note</button>
                </div>
                <h3 class="message center" v-if="title_changes_made || content_changes_made || colour_changes_made">Changes Made! Closing will result in lost changes!</h3>
            </div>
        </div>
    </div>

</template>

<script>
    import ColourPicker from './ColourPicker';
    export default {
        name: "EditNote",
        components: { ColourPicker },
        props: ['note'],
        data: function(){
            return {
                title_missing: false,
                content_missing: false,
                original: {},
                title_changes_made :false,
                content_changes_made :false,
                colour_changes_made: false,
            }
        },
        methods: {
            changeColour: function (colour) {
                this.note.colour = colour;
            },
            updateNote: function(){
                if(this.note.title !== "" && this.note.content !== ""){
                    let self = this;
                    window.axios.put('/notes/' + self.note.id, {
                        title: self.note.title,
                        text: self.note.content,
                        colour: self.note.colour
                    })
                        .then(function (response) {
                            console.log(response);
                            self.clearForm();
                        }).catch(function (error) {
                            console.log(error);
                            if(error.errors.title !== null){ self.title_missing = true; }
                            if(error.errors.text !== null){ self.content_missing = true; }
                        });
                }
                else{
                    this.note.title === "" ? this.title_missing = true : null;
                    this.note.content === "" ? this.content_missing = true : null;
                }
            },
            clearForm: function(){
                this.closeDialog('popEditNote');
                this.$emit('finished-editing');
            },
            closeEdit: function(){
                this.note.title = this.original.title;
                this.note.content = this.original.content;
                this.note.colour = this.original.colour;
                this.closeDialog('popEditNote');
                this.$emit('finished-editing');
            }
        },
        mounted: function(){
            this.showDialog('popEditNote');
            this.original = Object.assign({}, this.note); //Make a copy of the original note to detect changes.
        },
        computed:{
            title_length: function(){
                return this.note.title.length;
            },
            content_length: function(){
                return this.note.content.length;
            }
        },
        watch: {
            //If the user is typing the title or content field, assume there is no error until save is clicked.
            //Also check for changes. Doing it this way means if a field is changed but then changed BACK it will remove the flag
            'note.title': function(){
                this.title_missing = false;
                this.title_changes_made = this.note.title !== this.original.title;
            },
            'note.content': function(){
                this.content_missing = false;
                this.content_changes_made = this.note.content !== this.original.content;
            },
            'note.colour': function(){
                this.colour_changes_made = this.note.colour !== this.original.colour;
            }
        }
    }
</script>

<style scoped>

</style>