<template>
    <div class="notes__panel">
        <note v-for="note in notes" :note="note" :key="note.id" @note-removed="removeNote(note)" @edit-note="editNote($event)"></note>
        <add-note @note-added="addNote"></add-note>
        <refresh-database @database-refreshed="loadNotes"></refresh-database>
        <edit-note :note="edit_note" v-if="edit_note !== null" @finished-editing="edit_note = null"></edit-note>
    </div>
</template>

<script>
    import AddNote from './AddNote';
    import EditNote from './EditNote';
    import Note from './Note';
    import RefreshDatabase from './RefreshDatabase';

    export default {
        name: "NotesPanel",
        data: function(){
            return {
                notes: [],
                edit_note: null,
            }
        },
        components: { AddNote, EditNote, Note, RefreshDatabase },
        props: ['colours'],
        methods: {
            loadNotes: function(){
                let self = this;
                window.axios.get('/notes', {})
                    .then(function (response) {
                        self.notes = response.data;
                    }).catch(function (error) { console.log(error); });
            },
            removeNote: function(note){
                let n = this.notes.map(item => item.id).indexOf(note.id);
                this.notes.splice(n, 1);
            },
            addNote: function(note){
                this.notes.push(note);
            },
            editNote: function(note){
                this.edit_note = note;
            }
        },
        mounted: function(){
            this.loadNotes();
        }
    }
</script>

<style scoped>

</style>