<template>
    <div class="note" :style="style">
        <div class="note__title" @click="editNote(note)">{{ note.title }}</div>
        <div class="note__content" @click="editNote(note)">{{ note.content }}</div>
        <div class="note__footer">
            <div class="note__button" :style="buttonStyle" @click="showDialog('popConfirmDelete' + note.id)"><font-awesome-icon :icon="['fas', 'trash-alt']"></font-awesome-icon></div>
            <div class="note__button" :style="buttonStyle" @click="showDialog('popAddAttachments' + note.id)"><font-awesome-icon :icon="['fas', 'paperclip']"></font-awesome-icon></div>
            <div class="note__button" :style="buttonStyle" @click="showDialog('popColourPicker' + note.id)"><font-awesome-icon :icon="['fas', 'palette']"></font-awesome-icon></div>
        </div>
        <div class="pop" :id="'popColourPicker' + note.id">
            <div class="pop__dialog">
                <div class="pop__close" @click="closeDialog('popColourPicker' + note.id)">&times;</div>
                <colour-picker :selected_colour="note.colour" @colour-changed="changeColour($event)"></colour-picker>
            </div>
        </div>
        <div class="pop" :id="'popConfirmDelete' + note.id">
            <div class="pop__dialog pop__dialog--vertical">
                <div class="pop__close" @click="closeDialog('popConfirmDelete' + note.id)">&times;</div>
                <h1 class="title center">Are you sure you want to delete this note?</h1>
                <div class="button__group button__group--fill">
                    <button class="button button--green" @click="deleteNote">Yes</button>
                    <button class="button button--red" @click="closeDialog('popConfirmDelete' + note.id)">No</button>
                </div>
            </div>
        </div>
        <div class="pop" :id="'popAddAttachments' + note.id">
            <div class="pop__dialog">
                <div class="pop__close" @click="closeDialog('popAddAttachments' + note.id)">&times;</div>
                <attachments></attachments>
            </div>
        </div>
    </div>
</template>

<script>
    import ColourPicker from './ColourPicker';
    import Attachments from './Attachments';
    export default {
        name: "Note",
        components: { Attachments, ColourPicker },
        props: ['note'],
        computed: {
            style: function(){
                return "background-color: #" + this.note.colour;
            },
            buttonStyle: function(){
                return "color: #" + this.note.colour;
            }
        },
        methods: {
            changeColour: function(colour){
                let self = this;
                window.axios.patch('/notes/' + self.note.id, {
                    colour: colour
                })
                .then(function (response) {
                    self.note.colour = colour;
                }).catch(function (error) { console.log(error); });
            },
            deleteNote: function(){
                let self = this;
                window.axios.delete('/notes/' + self.note.id, {})
                .then(function (response) {
                    self.$emit('note-removed', self.note.id);
                    self.closeDialog('popConfirmDelete' + self.note.id)
                }).catch(function (error) { console.log(error); });
            },
            editNote: function(note){
                this.$emit('edit-note', note);
            }
        }
    }
</script>

<style scoped>

</style>