<template>
    <div class="refresh-database" @click="refreshDatabase">
        <font-awesome-icon :icon="['far', 'sync-alt']"></font-awesome-icon>
    </div>
</template>

<script>
    export default {
        name: "RefreshDatabase",
        methods: {
            refreshDatabase: function(){
                let self = this;
                window.axios.delete('/notes', {})
                .then(function (response) {
                    self.$emit('database-refreshed');
                }).catch(function (error) { console.log(error); });
            }
        }
    }
</script>

<style scoped>

</style>