//Override browser defaults
html{
  font-size:62.5%; //Sets the global font size to 10px;
}
body{
  box-sizing: border-box;
  background-color: #F7FAFC;
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing:inherit;
  font-family: "Open Sans", sans-serif;
}
[v-cloak]{
  display:none !important;
}
select
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select[multiple]
{
  /* Move the label to the top */
  vertical-align:top;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}