@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed:400,700');

.center{ text-align: center; }
.title{
  margin-bottom: 2rem;
  color: #333;
}
.message{
  position: absolute;
  color: $red;
  font-style: italic;
  bottom: .8rem;
  left: 0;
  width: 100%;
}