<template>
    <div class="michael__container">
        <h1 class="michael__title center">Michael MacDonald</h1>
        <h3 class="michael__tagline center">Welcome! This website is used as a parking lot for presentation projects. If you're interested in viewing the code you can view the repository below.</h3>
        <h3 class="michael__tagline center">If you're here for a specific project try typing your brand name before the url like this: "your_brand.michael-macdonald.com"</h3>
        <a href="https://github.com/MichaelMacDonald54/MichaelMacDonald" class="michael__link">Github - Michael MacDonald</a>
    </div>
</template>

<script>
    export default {
        name: "Home"
    }
</script>

<style scoped>

</style>