@import './abstracts/mixins';
@import './abstracts/variables';

@import './base/animations';
@import './base/base';
@import './base/typography';

.michael{
  &__container{
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
  }
  &__title{
    font-size: 4rem;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 4rem;
  }
  &__tagline{
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 1.5rem;
    color: #333;
    &:last-of-type{
      margin-bottom: 4rem;
    }
  }
  &__link{
    text-decoration: none;
    color: $green;
    &:visited{
      color: $green;
    }
    font-size: 3rem;
  }
}