@import './abstracts/mixins';
@import './abstracts/variables';

@import './base/animations';
@import './base/base';
@import './base/typography';

@import './components/button';
@import './components/colour-picker';
@import './components/drag-drop';
@import './components/form';
@import './components/navigation';
@import './components/notes';
@import './components/pop';

.container{
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  background-color: #F7FAFC;
  padding-top: 6rem; //Push down to adjust for the Nav
}