.button{
  outline: none;
  border: none;
  padding: 1rem;
  color: #fff;
  font-size: 1.4rem;
  transition: all .3s ease;
  cursor:pointer;
  flex-wrap: wrap;
  text-decoration:none;
  text-align: center;
  &--fill{
    width: 100%;
  }
  &--short{
    height: 32px;
    margin-top: 9px;
    padding: .5rem;
  }
  &--green{
    @include button(#1CB58C);
  }
  &--red{
    @include button(#E54641);
  }
  &__group, &__group--fill{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    > .button{
      flex-grow:0;
    }
    > .button:first-of-type{
      border-top-left-radius: .5rem;
      border-bottom-left-radius: .5rem;
    }
    > .button:last-of-type{
      border-top-right-radius: .5rem;
      border-bottom-right-radius: .5rem;
    }
    &--fill{
      width: 100%;
      & >.button{
        flex-grow: 1;
      }
      & >.letter{
        width: 40px;
      }
    }
  }
}