.colours{
  width: 25rem;
  height: 5rem;
  display:grid;
  grid-template-columns: repeat(5, 5rem);
}
.colour{
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 2px;
  border: 2px solid #FFF;
  border-radius: .6rem;
  display:flex;
  align-items:center;
  justify-content: center;
  &--selected{
    font-size: 2rem;
    color: #FFF;
    line-height:2;
  }
}