.attachments-component{
  width: 100%;
}
.image-drag-drop{
  width:100%;
  max-width: 50vw;
  min-height: 20rem;
  height: 100%;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  border: 1px solid #DDD;
  border-radius: .5rem;
}
.image-capture{
  width: 100%;
  height: 100%;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-grow:1;
}
.drop-images{
  font-size: 2rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  color: rgba(#333, .8);
}
.images{
  display:flex;
  flex-direction: row;
  align-items:center;
  flex-wrap: wrap;
  justify-content: center;
  &__preview{
    margin: 1rem;
    width: 20rem;
    position:relative;
    max-height: 19rem;
  }
  &__wrapper{
    display:flex;
    align-items:center;
    justify-content: center;
    position: relative;
  }
  &__remove{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1;
    font-size: 1.5rem;
    border-radius: 50%;
    top: 1.5rem;
    right: 1.5rem;
    color: #333;
    background-color: #FFF;
    display: flex;
    align-items:center;
    justify-content: center;
    &:hover{
      cursor: pointer;
      background-color: rgba(#FFF, .7);
    }
  }
}
.divider{
  margin: 1rem 0;
  display:flex;
  justify-content: center;
}