.input {
  width: 100%;
  padding: .5rem;
  border: 1px solid #ddd;
  color: #666;
  margin-bottom: 2rem;
  height: 5rem;
  border-radius: .5rem;
  font-size: 1.4rem;
  &__area{
    height: 15rem;
    resize: none;
  }
  &__warning{
    border-color: $red;
  }
  &__counter{
    color: rgba(#000, .4);
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    &--red{
      color: $red;
    }
  }
  &__group{
    position: relative;
    width: 100%;
  }
}

