.navigation{
  width:100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  background-color: #080808;
  padding: .5rem;
  display: flex;
  align-items:center;
  justify-content: center;
  z-index: 999;
}