.notes{
  &__panel{
    width: 95vw;
    display:flex;
    flex-direction: row;
    align-items:center;
    flex-wrap: wrap;
  }
}
.note{
  width: calc(33% - 20px);
  height: 30rem;
  margin: 1rem;
  flex-grow: 0;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 2rem 2rem 1rem 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  @media only screen and(max-width: 1300px){
      width: calc(50% - 20px);
  }
  @media only screen and(max-width: 900px){
    width: calc(100% - 20px)
  }
  &:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  &__title{
    font-weight: 700;
    font-size: 2.5rem;
    border-bottom: 2px solid rgba(#FFF, 0.7);
    padding-bottom: 1rem;
    color: #FFF;
    opacity: .7;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    &:hover{
      cursor: pointer;
    }
  }
  &__content{
    padding: 1rem 0;
    font-size: 1.75rem;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    opacity: .7;
    flex-grow:1;
    white-space: pre;
    overflow-y: auto;
    overflow-x: hidden;
    &:hover{
      cursor: pointer;
    }
  }
  &__footer{
    border-top: 2px solid rgba(#FFF, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    padding-top: 1rem;
    width: 100%;
  }
  &__button{
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: rgba(#FFF, .7);
    display:flex;
    align-items:center;
    justify-content: center;
    line-height: 1;
    font-size: 2rem;
    margin: 0 .25rem;
    &:last-of-type{
      margin-right: 0;
    }
    &:hover{
      background-color: rgba(#FFF, .5);
      cursor:pointer;
    }
  }
}
.add-note, .refresh-database{
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  position: fixed;
  bottom: 2rem;
  font-size: 3rem;
  display:flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}
.add-note{
  background-color: rgba(#419de5, .7);
  right: 2rem;
  &:hover{
    background-color: rgba(#419de5, 1);
    cursor: pointer;
  }
}
.refresh-database{
  background-color: rgba(#E54141, .7);
  left: 2rem;
  &:hover{
    background-color: rgba(#E54141, 1);
    cursor: pointer;
  }
}