//Background of Pop
.pop{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#000, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
  z-index: 1003;
  //Dialog Box of Pop
  &__dialog{
    position: relative;
    min-width: 40rem;
    @media only screen and(max-width:400px){
      min-width:35rem;
      max-width: 35rem;
    }
    background-color: white;
    border-radius: .25rem;
    box-shadow: -.25rem .5rem 2rem rgba(#000, 0.2);
    opacity: 0;
    transform: scale(.25);
    padding: 3rem;
    display:flex;
    align-items:center;
    flex-direction: row;
    justify-content: center;
    &--vertical{
      flex-direction: column;
    }
  }
  //Close Button of Pop
  &__close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    line-height: .5;
    font-size: 2.5rem;
    text-decoration: none;
    display:inline-block;
    &:hover{
      color:#59b3e8;
      cursor: pointer;
    }
  }

}
.no-scroll{
  overflow:hidden;
}