@import url(https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed:400,700);html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #F7FAFC;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Open Sans", sans-serif;
}

[v-cloak] {
  display: none !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select[multiple] {
  /* Move the label to the top */
  vertical-align: top;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.center {
  text-align: center;
}

.title {
  margin-bottom: 2rem;
  color: #333;
}

.message {
  position: absolute;
  color: #E54641;
  font-style: italic;
  bottom: 0.8rem;
  left: 0;
  width: 100%;
}

.michael__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.michael__title {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 4rem;
}

.michael__tagline {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1.5rem;
  color: #333;
}

.michael__tagline:last-of-type {
  margin-bottom: 4rem;
}

.michael__link {
  text-decoration: none;
  color: #1CB58C;
  font-size: 3rem;
}

.michael__link:visited {
  color: #1CB58C;
}

