@import url(https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed:400,700);html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #F7FAFC;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Open Sans", sans-serif;
}

[v-cloak] {
  display: none !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select[multiple] {
  /* Move the label to the top */
  vertical-align: top;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.center {
  text-align: center;
}

.title {
  margin-bottom: 2rem;
  color: #333;
}

.message {
  position: absolute;
  color: #E54641;
  font-style: italic;
  bottom: 0.8rem;
  left: 0;
  width: 100%;
}

.button {
  outline: none;
  border: none;
  padding: 1rem;
  color: #fff;
  font-size: 1.4rem;
  transition: all 0.3s ease;
  cursor: pointer;
  flex-wrap: wrap;
  text-decoration: none;
  text-align: center;
}

.button--fill {
  width: 100%;
}

.button--short {
  height: 32px;
  margin-top: 9px;
  padding: 0.5rem;
}

.button--green {
  background-color: #1CB58C;
  border: 1px solid #1CB58C;
}

.button--green:hover,
.button--green:active {
  background-color: #127359;
  border-color: #127359;
}

.button--green:disabled {
  background-color: #31a082;
  color: #b3b3b3;
  cursor: not-allowed;
}

.button--green:disabled a {
  color: #b3b3b3;
  cursor: not-allowed;
}

.button--green-o {
  background-color: white;
  color: #1CB58C;
  border: 1px solid #1CB58C;
}

.button--green-o:hover,
.button--green-o:active {
  background-color: #1CB58C;
  color: white;
}

.button--green a {
  text-decoration: none;
  color: white;
}

.button--green a:visited {
  color: white;
}

.button--red {
  background-color: #E54641;
  border: 1px solid #E54641;
}

.button--red:hover,
.button--red:active {
  background-color: #bf1f1a;
  border-color: #bf1f1a;
}

.button--red:disabled {
  background-color: #cf5a57;
  color: #b3b3b3;
  cursor: not-allowed;
}

.button--red:disabled a {
  color: #b3b3b3;
  cursor: not-allowed;
}

.button--red-o {
  background-color: white;
  color: #E54641;
  border: 1px solid #E54641;
}

.button--red-o:hover,
.button--red-o:active {
  background-color: #E54641;
  color: white;
}

.button--red a {
  text-decoration: none;
  color: white;
}

.button--red a:visited {
  color: white;
}

.button__group,
.button__group--fill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.button__group > .button,
.button__group--fill > .button {
  flex-grow: 0;
}

.button__group > .button:first-of-type,
.button__group--fill > .button:first-of-type {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.button__group > .button:last-of-type,
.button__group--fill > .button:last-of-type {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.button__group--fill,
.button__group--fill--fill {
  width: 100%;
}

.button__group--fill > .button,
.button__group--fill--fill > .button {
  flex-grow: 1;
}

.button__group--fill > .letter,
.button__group--fill--fill > .letter {
  width: 40px;
}

.colours {
  width: 25rem;
  height: 5rem;
  display: grid;
  grid-template-columns: repeat(5, 5rem);
}

.colour {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 2px;
  border: 2px solid #FFF;
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colour--selected {
  font-size: 2rem;
  color: #FFF;
  line-height: 2;
}

.attachments-component {
  width: 100%;
}

.image-drag-drop {
  width: 100%;
  max-width: 50vw;
  min-height: 20rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #DDD;
  border-radius: 0.5rem;
}

.image-capture {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.drop-images {
  font-size: 2rem;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.8);
}

.images {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.images__preview {
  margin: 1rem;
  width: 20rem;
  position: relative;
  max-height: 19rem;
}

.images__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.images__remove {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1;
  font-size: 1.5rem;
  border-radius: 50%;
  top: 1.5rem;
  right: 1.5rem;
  color: #333;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.images__remove:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
}

.divider {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  color: #666;
  margin-bottom: 2rem;
  height: 5rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
}

.input__area {
  height: 15rem;
  resize: none;
}

.input__warning {
  border-color: #E54641;
}

.input__counter {
  color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.input__counter--red {
  color: #E54641;
}

.input__group {
  position: relative;
  width: 100%;
}

.navigation {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  background-color: #080808;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.notes__panel {
  width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.note {
  width: calc(33% - 20px);
  height: 30rem;
  margin: 1rem;
  flex-grow: 0;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 2rem 2rem 1rem 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1300px) {
  .note {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 900px) {
  .note {
    width: calc(100% - 20px);
  }
}

.note:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.note__title {
  font-weight: 700;
  font-size: 2.5rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  padding-bottom: 1rem;
  color: #FFF;
  opacity: 0.7;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
}

.note__title:hover {
  cursor: pointer;
}

.note__content {
  padding: 1rem 0;
  font-size: 1.75rem;
  font-family: "Open Sans", sans-serif;
  color: #FFF;
  opacity: 0.7;
  flex-grow: 1;
  white-space: pre;
  overflow-y: auto;
  overflow-x: hidden;
}

.note__content:hover {
  cursor: pointer;
}

.note__footer {
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
  padding-top: 1rem;
  width: 100%;
}

.note__button {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-size: 2rem;
  margin: 0 0.25rem;
}

.note__button:last-of-type {
  margin-right: 0;
}

.note__button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.add-note,
.refresh-database {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  position: fixed;
  bottom: 2rem;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

.add-note {
  background-color: rgba(65, 157, 229, 0.7);
  right: 2rem;
}

.add-note:hover {
  background-color: #419de5;
  cursor: pointer;
}

.refresh-database {
  background-color: rgba(229, 65, 65, 0.7);
  left: 2rem;
}

.refresh-database:hover {
  background-color: #e54141;
  cursor: pointer;
}

.pop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
  z-index: 1003;
}

.pop__dialog {
  position: relative;
  min-width: 40rem;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: -0.25rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  padding: 3rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 400px) {
  .pop__dialog {
    min-width: 35rem;
    max-width: 35rem;
  }
}

.pop__dialog--vertical {
  flex-direction: column;
}

.pop__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  line-height: 0.5;
  font-size: 2.5rem;
  text-decoration: none;
  display: inline-block;
}

.pop__close:hover {
  color: #59b3e8;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #F7FAFC;
  padding-top: 6rem;
}

