// SCSS File for Mixins
//Mixin for creating a button class by passing in a colour
@mixin button($colour){
  background-color: $colour;
  border: 1px solid $colour;
  &:hover, &:active {
    background-color: darken($colour, 15%);
    border-color: darken($colour, 15%);
  }
  &:disabled{
    background-color: desaturate($colour, 20%);
    color: darken(white, 30%);
    cursor: not-allowed;
    & a{
      color: darken(white, 30%);
      cursor: not-allowed;
    }
  }
  &-o{
    background-color: white;
    color: $colour;
    border: 1px solid $colour;
    &:hover, &:active {
      background-color: $colour;
      color: white;
    }
  }
  & a{
    text-decoration:none;
    color: white;
    &:visited{
      color:white;
    }
  }
}